/* Animations for loading Part I */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* The footer information like size used, etc. */
#\:2 {
    display: none;
}

/* Animations for loading Part II */
body {
    /* Cover the whole window */
    height: 100%;

    /* Make sure this matches the native window background color that you pass to
     * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
    background: rgb(40, 40, 40);

    /* Smoother startup */
    animation: fadein 2s;
}

/* Top bar component 1 */
.aiw {
    padding: 4px;
    max-height: 32px;
    -webkit-app-region: drag;
}

#gb {
    max-height: 32px;
}

/* Disable Gmail Logo */
.gb_ma {
    display: none;
}

/* Disable Google Apps */
#gbwa {
    display: none;
}

/* Disable Help button */
#lZwQje {
    display: none;
}

/* Reshape Search Bar */
.gb_ce .gb_la {
    min-width: 192px !important;
    max-height: 32px;
}

/* Search Icon */
.gb_Ve.gb_We {
    margin-top: -6px;
}

/* Search Text */
.gb_3e.gb_We {
    margin-top: -6px;
}

/* Search results box */
.gstl_50.gssb_c {
    margin-top: -6px;
}

/* Clear Search Button */
.gb_Ze.gb_1e {
    margin-top: -6px;
}

/* Search dropdown button */
.gb_2e {
    margin-top: -6px;
}

/* Google Notifications */
#gbwa+div {
    display: none
}

/* The entire top area */
.gb_jd.gb_zd.gb_rd.gb_Zb {
    padding: 0;
    -webkit-app-region: drag;
}

.gb_oc.gb_tc.gb_la.gb_vc {
    padding: 2px !important;
    margin-left: 18px !important;
}

/* Account avatar */
.gb_x.gb_Da.gb_f {
    margin-top: -12px !important;
}

gb_fa>.gb_Ea {
    padding: 0 !important;
}

.gb_fa {
    border: 0 none !important;
}

.gb_ga {
    display: none !important;
}

.gb_nc {
    text-align: right !important;
    width: 48px !important;
}

.gb_mc.gb_Ja.gb_lc {
    height: 24px !important;
    margin-top: 1px;
}

.gb_fa.gb_7f.gb_f {
    width: 24px !important;
}

.gb_ja:not(.gb_ka) .gb_fa {
    width: auto !important;
    margin-left: 0 !important;
}

.gb_fa {
    border: 0x none !important;
    background-color: transparent !important;
}

.gb_fa:focus {
    border: 0 none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.gb_x:active,
.gb_x:focus,
.gb_x:focus:hover {
    background: transparent none !important;
}

/* Hamburger menu */
.gb_Xb {
    margin-top: -12px !important;
}

/* Account Changing Menu */
.gb_Ta.gb_z.gb_7b {
    margin-top: -24px;
}

/* More Tools arrow */
.brC-dA-I-Jw.brC-aMv-auO {
    display: None;
}

/* Print button (use native print) */
[data-tooltip="Print all"]{
    display: None !important; 
}

/* Hide open-in-new-window button */
.J-N:last-of-type {
    display: None !important; 
}