/* Animations for loading Part I */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animations for loading Part II */
body {
    height: 100%;
    background: rgb(40, 40, 40);
    animation: fadein 2s;
}

/* gb_jd gb_zd gb_rd gb_Zb <-- this is DARK THEME */
/* gb_jd gb_zd gb_rd <-- this is LIGHT THEME */



/* The footer information like size used, etc. */
#\:2 {
    display: none;
}

/* Top bar component I */
.aiw {
    padding: 4px;
    max-height: 32px;
    -webkit-app-region: drag;
}

/* Top bar component II */
[role$="banner"] {
    max-height: 64px !important;
    -webkit-app-region: drag;
}


/* Disable Gmail Logo */
.gb_Qb {
    display: none !important;
}

/* Disable Google Apps */
#gbwa {
    display: none;
}

/* Disable Help button */
#lZwQje {
    display: none;
}

/* Reshape Search Bar */
[gh$="sb"] {
    /* padding-top: 16px !important; */
    min-width: 192px !important;
    max-height: 32px !important;
}

/* Search Icon */
[aria-label$="Search Mail"] {
    margin-top: -6px;
}

/* Search Text */
[aria-label$="Search mail"] {
    margin-top: -6px;
}

/* Search results box */
.gstl_50.gssb_c {
    margin-top: -6px;
}

/* Clear Search Button */
.gb_Ze.gb_1e {
    margin-top: -6px;
}

/* Search dropdown button */
[aria-label$="Advanced search options"] {
    margin-top: -6px;
}

/* Google Notifications */
#gbwa+div {
    display: none
}

/* The entire top area (dark theme) */
.gb_jd.gb_zd.gb_rd.gb_Zb {
    margin-top: -10px;
    margin-bottom: 25px;
    -webkit-app-region: drag;
}

/* The entire top area (light theme) */
.gb_jd.gb_zd.gb_rd:not(.gb_Zb) {
    margin-top: -10px;
    margin-bottom: 25px;
    -webkit-app-region: drag;
}

.gb_oc.gb_tc.gb_la.gb_vc {
    padding: 2px !important;
    margin-left: 18px !important;
}


gb_fa>.gb_Ea {
    padding: 0 !important;
}

.gb_fa {
    border: 0 none !important;
}

.gb_ga {
    display: none !important;
}

.gb_nc {
    text-align: right !important;
    width: 48px !important;
}

.gb_mc.gb_Ja.gb_lc {
    height: 24px !important;
    margin-top: 1px;
}

.gb_fa.gb_7f.gb_f {
    width: 24px !important;
}

.gb_ja:not(.gb_ka) .gb_fa {
    width: auto !important;
    margin-left: 0 !important;
}

.gb_fa {
    border: 0x none !important;
    background-color: transparent !important;
}

.gb_fa:focus {
    border: 0 none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.gb_x:active,
.gb_x:focus,
.gb_x:focus:hover {
    background: transparent none !important;
}

/* Hamburger menu */
[aria-label$="Main menu"] {
    margin-top: -6px !important;
}

/* Account icon */
[data-ogsr-up] {
    margin-top: -6px !important;
}

/* This controls that wierd line that often cuts things off */
.gb_id.gb_yd.gb_qd.gb_Xb {
    height: 72px !important;
    margin-top: -6px !important;
}

/* Account Changing Menu */
.gb_Ta.gb_z.gb_7b {
    margin-top: -24px;
}

/* More Tools arrow */
.brC-dA-I-Jw.brC-aMv-auO {
    display: None;
}

/* Print button (use native print) */
[data-tooltip="Print all"] {
    display: None !important;
}

/* Hide open-in-new-window button */
.J-N:last-of-type {
    display: None !important;
}