/* Animations for loading Part I */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animations for loading Part II */

body {
    height: 100%;
    background: rgb(40, 40, 40);
    animation: fadein 2s;
}

/* gb_jd gb_zd gb_rd gb_Zb <-- this is DARK THEME */

/* gb_jd gb_zd gb_rd <-- this is LIGHT THEME */

/* Removes the popout tabby thing on the bottom right which allows you to open Keep */

[role$="navigation"][aria-label$="Toggle side panel"] {
    display: None;
}

/* The footer information like size used, etc. */

#\:2 {
    display: none;
}

/* Remove that mysterious line that isn't where I want it */

.nH.w-asV.aiw {
    box-shadow: none;
}

/* Top bar component I */

.aiw {
    /* padding: 4px; */
    max-height: 32px;
}

/* Top bar component II */

[role$="banner"] {
    max-height: 48px !important;
    box-shadow: 0px 1px #777777 !important;
}

/* Removes the Gmail logo */

[href$="#inbox"][title="Gmail"] {
    display: None;
}

/* Disable Google Apps */

#gbwa {
    display: none;
}

/* Disable Help button */

#lZwQje {
    display: none;
}

/* 
    Search **icon** 
    Yes, I know this doesn't make sense. 
    But trust me, me, it is.
*/

[aria-label$="Search Mail"] {
    margin-top: -6px;
}

/* 
    Search Text 
    This is truly different from the one above
    I don't know what Google is thinking...
*/

[aria-label$="Search mail"] {
    margin-top: -6px;
}

/* Search results box */

[gh$="sb"] {
    min-width: 192px !important;
    max-height: 32px !important;
    margin-top: -6px !important;
    margin-bottom: 6px !important;
}

/* Clear Search Button */

[aria-label$="Clear search"] {
    margin-top: -6px;
}

/* Search dropdown button */

[aria-label$="Advanced search options"] {
    margin-top: -6px;
}

/* Google Notifications */

#gbwa+div {
    display: none
}

/* The entire top area (dark theme) */

.gb_jd.gb_zd.gb_rd.gb_Zb {
    margin-top: -10px;
    margin-bottom: 25px;
}

/* The entire top area (light theme) */

.gb_jd.gb_zd.gb_rd:not(.gb_Zb) {
    margin-top: -10px;
    margin-bottom: 25px;
}

.gb_oc.gb_tc.gb_la.gb_vc {
    padding: 2px !important;
    margin-left: 18px !important;
}

gb_fa>.gb_Ea {
    padding: 0 !important;
}

.gb_fa {
    border: 0 none !important;
}

.gb_nc {
    text-align: right !important;
    width: 48px !important;
}

.gb_mc.gb_Ja.gb_lc {
    height: 24px !important;
    margin-top: 1px;
}

.gb_fa.gb_7f.gb_f {
    width: 24px !important;
}

.gb_ja:not(.gb_ka) .gb_fa {
    width: auto !important;
    margin-left: 0 !important;
}

.gb_fa {
    border: 0x none !important;
    background-color: transparent !important;
}

.gb_fa:focus {
    border: 0 none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.gb_x:active, .gb_x:focus, .gb_x:focus:hover {
    background: transparent none !important;
}

/* Hamburger menu */

[aria-label$="Main menu"] {
    margin-top: -6px !important;
}

/* Account icon */

[data-ogsr-up] {
    margin-top: -6px !important;
}

/* Weird bubble around account icon for Uni accounts */

.gb_ia.gb_yg.gb_g {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
    width: 48px !important;
}

/* Special decoration for uni accounts */

.gb_ja {
    display: none !important;
    width: 0px;
    height: 0px;
}

/* Weird bubbling effect when clicking on uni account icon */

.gb_ga.gb_xg.gb_f.gb_Ac {
    box-shadow: none !important;
}

/* This controls that wierd line that often cuts things off */

.gb_id.gb_yd.gb_qd.gb_Xb {
    height: 72px !important;
    margin-top: -6px !important;
}

/* Account Changing Menu */

.gb_Ta.gb_z.gb_7b {
    margin-top: -24px;
}

/* More Tools arrow */

.brC-dA-I-Jw.brC-aMv-auO {
    display: None;
}

/* Print button (use native print) */

[data-tooltip="Print all"] {
    display: None !important;
}

/* Hide open-in-new-window button */

.J-N:last-of-type {
    display: None !important;
}

/* Custom titlebar for Windows & Linux */

#GmailDesktopTitlebar {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    width: 100%;
    -webkit-app-region: drag;
    background-color: #7F7F7F;
}

#GoogleDesktopTitlebarText {
    max-height: 24px;
    display: flex;
    justify-content: center;
    margin-top: 8px !important;
}

#GoogleDesktopTitlebarLogo {
    max-height: 24px;
    max-width: 24px;
    padding-right: 8px;
    margin-top: -4px !important;
}

#GmailDesktopWindowControls {
    display: flex;
    justify-content: right;
    padding-top: 4px;
    padding-right: 4px;
}

#gmailDesktopOptions {
    display: flex;
    -webkit-app-region: no-drag;
    max-width: 24px;
    max-height: 24px;
    padding-top: 4px;
}

#gmailDesktopOptions:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%) !important;
    margin-top: -1px;
}

#gmailDesktopMinimize {
    -webkit-app-region: no-drag;
    max-width: 24px;
    max-height: 24px;
    padding-right: 8px;
}

#gmailDesktopMinimize:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%) !important;
    margin-top: -1px;
}

#gmailDesktopMaximize {
    -webkit-app-region: no-drag;
    max-width: 24px;
    max-height: 24px;
    padding-right: 8px;
}

#gmailDesktopMaximize:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%) !important;
    margin-top: -1px;
}

#gmailDesktopClose {
    -webkit-app-region: no-drag;
    max-width: 24px;
    max-height: 24px;
    padding-right: 8px;
}

#gmailDesktopClose:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%) !important;
    margin-top: -1px;
}